{
  "openapi" : "3.0.0",
  "info" : {
    "version" : "1.0.1-oas3",
    "title" : "Zotero API",
    "description" : "Zotero API"
  },
  "security" : [ {
    "UserSecurity" : [ ]
  } ],
  "paths" : {
    "/{userOrGroup}/{id}/collections" : {
      "get" : {
        "description" : "Collections in the library",
        "parameters" : [ {
          "$ref" : "#/components/parameters/UserOrGroup"
        }, {
          "$ref" : "#/components/parameters/UserOrGroupID"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully returned a list of collections",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Collection"
                }
              }
            }
          }
        }
      }
    },
    "/{userOrGroup}/{id}/collections/top" : {
      "get" : {
        "description" : "Top-level collections in the library",
        "parameters" : [ {
          "$ref" : "#/components/parameters/UserOrGroup"
        }, {
          "$ref" : "#/components/parameters/UserOrGroupID"
        } ],
        "responses" : {
          "200" : {
            "description" : "TODO",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Collection"
                }
              }
            }
          }
        }
      }
    },
    "/{userOrGroup}/{id}/collections/{collectionKey}" : {
      "get" : {
        "description" : "A specific collection in the library",
        "parameters" : [ {
          "$ref" : "#/components/parameters/UserOrGroup"
        }, {
          "$ref" : "#/components/parameters/UserOrGroupID"
        }, {
          "$ref" : "#/components/parameters/CollectionKey"
        } ],
        "responses" : {
          "200" : {
            "description" : "TODO",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Collection"
                }
              }
            }
          }
        }
      }
    },
    "/{userOrGroup}/{id}/collections/{collectionKey}/collections" : {
      "get" : {
        "description" : "Subcollections within a specific collection in the library",
        "parameters" : [ {
          "$ref" : "#/components/parameters/UserOrGroup"
        }, {
          "$ref" : "#/components/parameters/UserOrGroupID"
        }, {
          "$ref" : "#/components/parameters/CollectionKey"
        } ],
        "responses" : {
          "200" : {
            "description" : "TODO",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Collection"
                }
              }
            }
          }
        }
      }
    }
  },
  "servers" : [ {
    "url" : "https://api.zotero.org"
  } ],
  "components" : {
    "parameters" : {
      "UserOrGroup" : {
        "name" : "userOrGroup",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string",
          "enum" : [ "users", "groups" ]
        }
      },
      "UserOrGroupID" : {
        "name" : "id",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "CollectionKey" : {
        "name" : "collectionKey",
        "in" : "path",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      }
    },
    "securitySchemes" : {
      "UserSecurity" : {
        "type" : "http",
        "scheme" : "basic"
      }
    },
    "schemas" : {
      "Collection" : {
        "type" : "object",
        "properties" : {
          "key" : {
            "type" : "string"
          },
          "version" : {
            "type" : "string"
          },
          "library" : {
            "type" : "object",
            "properties" : {
              "type" : {
                "type" : "string",
                "enum" : [ "user", "group" ]
              },
              "id" : {
                "type" : "integer"
              },
              "name" : {
                "type" : "string"
              },
              "links" : {
                "type" : "object",
                "properties" : {
                  "alternate" : {
                    "type" : "object",
                    "properties" : {
                      "href" : {
                        "type" : "string"
                      },
                      "type" : {
                        "type" : "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}